<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="__internal-nlog.txt">
  
  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="/var/www/2garin.com/core/logs/__WARNING-${shortdate}.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${aspnet-request-url:IncludeQueryString=true}${newline}    ${message} ${exception}${newline}${newline}" />

    <target name="ownFile-web" xsi:type="AsyncWrapper" queueLimit="10000" timeToSleepBetweenBatches="1000" batchSize="1000" overflowAction="Grow">
      <target xsi:type="File" 
              fileName=       "/var/www/2garin.com/core/logs/debug.log"
              archiveFileName="/var/www/2garin.com/core/logs/debug-{#}.log"
              archiveEvery="Hour"
              archiveNumbering="Date"
              archiveDateFormat="yyyy-MM-dd_HH-mm-ss"
              maxArchiveFiles="168"
              layout="${longdate}|${logger}|${uppercase:${level}}|${aspnet-request-url:IncludeQueryString=true}${newline}    ${message} ${exception}${newline}${newline}" />
    </target>
    
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!-- пиздец извращенная логика
Critical FATAL
Error
Warning Warn
Information Info
Debug
Trace -->
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Warn" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>